@import './buttons.css';
body{
  background-color: #26B4BC;
  font-family: 'PT Sans Narrow', sans-serif;
}
.wrapper{
  max-inline-size: 1200px;
  margin:auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player{
  position: relative;
}
.player video{
  inline-size: 100%;
  aspect-ratio: 16/9;
  vertical-align: middle;
  object-fit: cover;
}

.player-actions{
  position: absolute;
  inset-block-start: 50px;
  margin:0;
  inset:0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
  /* z-index: 2; */
}

.player-title{
  color:white;
  position:absolute;
  inset-block-start: 0px;
  inset-inline-start: 20px;
  margin:0;
}

.player-progress{
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0;
  display: flex;
  padding: 10px;
}

.player-progress input{
  flex:1;
}

.player:hover .player-overlay{
  opacity: 1;
}

.player-overlay{
  position: absolute;
  inset:0;
  opacity: 0;
  transition: .3s opacity;
}